@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --bg: #022044;
    --text_color: #055ab7;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: linear-gradient(45deg, var(--bg),#053163); */
    background: #001;
}

.box {
    position: absolute;
    width: 700px;
    height: 400px;
    background-image: url("E:\\web_design\\img\\test.png");
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 4px 4px 5px #ffffffc2,
                -4px -4px 5px #fff;
    border-radius: 10px;
}

.i {
    position: relative;
    color: #f00;
    margin-left: 185px;
    top: 25px;
    font-size: 20px;
}

#anchor {
    text-decoration: none;
    color: #fff;
}

.sign_in {
    position: absolute;
    width: 175px;
    height: 35px;
    top: 30px;
    left: 265px;
    text-align: center;
    line-height: 32px;
    font-family: "Rostave";
    color: var(--text_color);
    letter-spacing: 1px;
    text-shadow: 0px 0px 10px aqua,
                 0px 0px 20px aqua;
}

.input_box {
    margin-top: 120px;
    margin-left: 50px;
}

.user_name,.password {
    padding: 15px;
    font-family: "Poppins";
    margin-left: 35px;
}

input {
    width: 60%;
    padding: 7px;
    margin-left: 40px;
    background: transparent;
    border: 2px solid #2c5d96;
    outline: none;
    font-size: 20px;
    color: #fff;
}


@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
}

span {
    color: rgba(0, 255, 255, 0.733);
}

#one {
    margin-left: 38px;
}

#login_button {
    padding: 8px 25px;
    margin-top: 72px;
    margin-left: 290px;
    font-family: "Rostave";
    background: transparent;
    color: var(--text_color);
    cursor: pointer;
    border: none;
    outline: none;
}

#icon {
    position: relative;
    color: #fff;
    right: 35px;
    cursor: pointer;
}

